html{
	width: 100%;
	height: 100%;
}

body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Gloria Hallelujah', cursive;
}

section{
	background-image: url('../images/background.jpg');
	width: 100%;
	height: 100%;
	position: relative;
}

.cache{
	display: none;
}

.show{
	display: block;
}

/* START SCREEN */

.imagestart{
	width: 640px;
	height: 450px;
	position: relative;
	background-image: url('../images/start.png');
	background-repeat: no-repeat;
}

.play{
	position: absolute;
	top: 325px;
	left: 250px;
	font-size: 50px;
	color: white;
}

.play:hover{
	cursor: pointer;
}


/* SCREEN PLAY */

.playsprite{
	width: 770px;
	height: 577px;
	position: relative;
	background-image: url('../images/play-sprite.png');
	background-repeat: no-repeat;
	margin-top: 40px;
}

.word{
	position: absolute;
	display: flex;
	justify-content: center;
    top: 370px;
    left: 200px;
    width: 50%;
    height: 50px;
	font-family: sans-serif;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.borderb{
	width: 10%;
	height: 100%;
	margin-left: 10px;
	border-bottom: white 1px solid;
}

.cpt{
	position: absolute;
    top: 420px;
    left: 275px;
    font-size: 25px;
    color: #4c6018;
}

.letters{
	width: 50%;
	height: 80px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.letters p {
	margin: 20px;
	color: white;
	font-size: 30px;

}
.yourletter{
	position: absolute;
    top: 420px;
    left: 320px;
    width: 10%;
    height: 40px;
  	background: none;
  	border: none;
  	border-bottom: white 1px solid;
  	font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.envoyer{
	position: absolute;
    top: 420px;
    left: 410px;
    width: 50px;
    height: 30px;
    background-color: #4c6018;
    border: none;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 16px;
    color: white;
}

/* GAGNE */
.imagewin{
	width: 640px;
	height: 450px;
	position: relative;
	background-image: url('../images/gagne.png');
	background-repeat: no-repeat;
}

.winner{
	position: absolute;
	top: 310px;
	left: 230px;
	font-size: 50px;
	color: white;
}

/* LOOSE */
.flex{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.imageloose{
	width: 640px;
	height: 450px;
	position: relative;
	background-image: url('../images/perdu.png');
	background-repeat: no-repeat;
}

.looser{
	font-size: 50px;
	color: white;
	position: absolute;
    top: 340px;
    left: 240px;
}

.afficherreponse{
    top: 730px;
    left: 600px;
    font-size: 25px;
    color: #4c6018;
}

.replay{
	display: block;
	background-color: #bf1e2e;
	padding: 10px 20px 10px 20px;
    color: white;
    margin: 30px;
    cursor: pointer;

}

@media screen and (min-width: 768px) and (max-width: 992px){
	section{
		background-image: url('../images/background-tab.jpg');
	}
}

@media screen and (min-width: 544px) and (max-width: 767px) {

}

@media screen and (min-width: 544px) {
	.imagestart {
	    width: 800px;
	    height: 560px;
	    position: relative;
	    background-image: url(../images/start.png);
	    background-repeat: no-repeat;
	    background-size: 100%;
	}

	.play {
	    top: 400px;
	    left: 300px;
	    font-size: 80px;
	}

	.envoyer{
		width: 80px;
		height: 40px;
	}

	.cpt {
	    top: 500px;
	    left: 145px;
	    font-size: 40px;
	}

	.afficherreponse {
		font-size: 40px;
	}

	.replay{
		font-size: 40px;
	}
}